node_modules/
**/node_modules/
vendor/
**/vendor/
.env
.env.*
backend/laravel-app/storage/*.key
backend/laravel-app/storage/logs/
backend/laravel-app/bootstrap/cache/
backend/laravel-app/public/build/
backend/laravel-app/public/hot
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db
